body{
  margin-top: 0;
  margin-left: 0;
}

/* 1ST SECTION */
/* MAIN */
.main-section {
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}

.main-content {
  max-width: 97%; /* Fixed width */
  height: 368px;
  text-align: left;
  margin-left: 80px;
  margin-top: 65px;
  margin-bottom: 80px;
}

.main-content h1 {
  font-family: "Body Grotesque Large Trial", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.25px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 16px;
}

.main-content p {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 64px;
}

.main-buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
}

.btn {
  padding: 16px 32px; /* Adjust as needed */
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.1px;
  flex: none; /* do not grow or shrink */
}

.btn-primary {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(15, 23, 33, 1);
  border: none;
}

@media (max-width: 768px) {
  .main-buttons {
    flex-direction: column; /* stack buttons vertically on smaller screens */
    gap: 8px; /* smaller gap for smaller screens */
  }

  .btn {
    width: 100%; /* full width buttons on smaller screens */
    padding: 12px 24px; /* slightly smaller padding on smaller screens */
  }
}

/* SAVE TIME SECTION */

.order-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    border: none;
    margin: 24px;
  }

.conditions-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
  border: none;
  margin: 24px;
}

.save-time-content {
  width: 48%; /* Adjust based on your design */
}

.save-time-title {
  font-family: "Body Grotesque Fit Trial", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.0025em;
  text-align: left;
  color: rgba(15, 23, 33, 1);
}

.suplier-item {
  display: flex;
  align-items: flex-start; /* Align the items to the start of the cross axis */
  padding-left: 8px;
  margin-bottom: 16px;
}

.suplier-item span {
  padding-left: 8px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.25px;
  text-align: left;
  color: rgba(15, 23, 33, 1); /* Assuming you want the text to be white */
}

.suplier-item .suplier-highlight {
  background: rgba(230, 70, 70, 1); /* Green background for highlighted text */
  color: #ffffff; /* White text color for highlighted text */
  padding: 0.2em; /* Optional: if you want padding around the highlighted text */
}

.save-time-list {
  padding: 0;
  margin-bottom: 50px;
}

.star-icon {
  margin-right: 8px; /* Adjust the space between the icon and the text */
}

.save-time-button {
  width: 218px; /* Fixed width */
  height: 56px; /* Fixed height */
  border-radius: 16px; /* Rounded top-left corner */
  border: 2px solid rgba(82, 76, 189, 1); /* Solid border with specified color */
  background: rgba(255, 255, 255, 1); /* White background */
  color: rgba(82, 76, 189, 1); /* Text color matching the border */
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: center;
}

.save-time-visual {
  position: relative;
  width: 48%; /* Adjust based on your design */
}

.phone-image {
  width: 100%;
  display: block; /* Makes sure the image doesn't have extra space below */
}

.statuses-container {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust the gap between the text and the image */
  }
  
  .statuses-text {
    margin: 0; /* Removes default margin from the span if present */
    font-size: 16px; /* Example font-size, adjust as needed */
    font-weight: bold; /* Example font-weight, adjust as needed */
    color: #333; /* Example text color, adjust as needed */
  }
  
  .statuses-icon {
    height: auto; /* Maintain the aspect ratio */
    width: auto; /* Adjust width as necessary to fit your design */
  }
  

/* 2ND SECTION */

.integration-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px;
  border: none;
  margin: 24px;
}

.notification-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    border: none;
    margin: 24px;
  }

.find-products-title {
  font-family: "Body Grotesque Fit Trial", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.0025em;
  text-align: left;
  color: rgba(15, 23, 33, 1);
}

.integration-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}


.integration-item .suplier-highlight {
  background: rgba(230, 70, 70, 1); /* Green background for highlighted text */
  color: #ffffff; /* White text color for highlighted text */
  padding: 0.2em;
}

.integration-item span {
  margin-right: 8px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.25px;
  text-align: left;
  color: rgba(15, 23, 33, 1);
}