@media (min-width: 2000px) {
  .main-page {
    min-width: 1200px;
  }

  .features{
    margin-left: 50px;
    margin-right: 50px;
  }

  .features-content {
    width: 30%;
  }

  /* Ensure that images take full width and adjust the margin */
  .features-images {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .features-images img{
    width: 100%;
  }

  /* Adjust the title and description for mobile screens */
  .features-title {
  font-family: "BodyGrotesqueLarge", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.001em;
    text-align: start;
    margin-bottom: 16px;
  }

  /* MainPage.css */
  .main-description {
    width: 490px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.25px;
    color: rgba(102, 108, 116, 1);
    margin-bottom: 30px;
    text-align: start;
  }

  /* Adjust the button layout */
  .features-buttons {
    flex-direction: row; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
    width: 100%;
  }

  .button-free,
  .button-demo {
    height: 56px;
  }


  /* Style for list items */
  .features-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
  }

  .feature-item {
    display: flex;
    justify-content: left;
    font-size: 16px;
    width: 100%; /* Full width for each item */
    margin-bottom: 10px; /* Space between items */
  }
}

@media (min-width: 1330px)  and (max-width: 2000px) {
  .main-page {
    min-width: 1200px;
  }

  .features{
    margin-left: 50px;
    margin-right: 50px;
    gap: 10%;
  }

  .features-content {
    width: 30%;
  }

  /* Ensure that images take full width and adjust the margin */
  .features-images {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .features-images img{
    width: 100%;
  }

  /* Adjust the title and description for mobile screens */
  .features-title {
  font-family: "BodyGrotesqueLarge", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.001em;
    text-align: start;
    margin-bottom: 16px;
  }

  /* MainPage.css */
  .main-description {
    width: 430px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.25px;
    color: rgba(102, 108, 116, 1);
    margin-bottom: 30px;
    text-align: start;
  }

  /* Adjust the button layout */
  .features-buttons {
    flex-direction: row; /* Stack buttons vertically */
    align-items: center;
  }

  .button-free,
  .button-demo {
    height: 56px;
  }

  /* Style for list items */
  .features-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
  }

  .feature-item {
    display: flex;
    justify-content: left;
    font-size: 13px;
    width: 100%; /* Full width for each item */
    margin-bottom: 10px; /* Space between items */
  }
}

@media (min-width: 1200px) and (max-width: 1330px){
  .features{
    margin-left: 50px;
    margin-right: 50px;
    gap: 10%;
  }

  .features-content {
    width: 60%;
  }

  /* Ensure that images take full width and adjust the margin */
  .features-images {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .features-images img{
    width: 100%;
  }

  /* Adjust the title and description for mobile screens */
  .features-title {
  font-family: "BodyGrotesqueLarge", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.001em;
    text-align: start;
    margin-bottom: 16px;
  }

  /* MainPage.css */
  .main-description {
    width: 430px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.25px;
    color: rgba(102, 108, 116, 1);
    margin-bottom: 30px;
    text-align: start;
  }

  /* Adjust the button layout */
  .features-buttons {
    flex-direction: row; /* Stack buttons vertically */
    align-items: center;
  }

  .button-free,
  .button-demo {
    height: 56px;
  }

  /* Style for list items */
  .features-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
  }

  .feature-item {
    display: flex;
    justify-content: left;
    font-size: 13px;
    width: 100%; /* Full width for each item */
    margin-bottom: 10px; /* Space between items */
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .features{
    margin-left: 40px;
    margin-right: 40px;
    gap: 5%;
  }

  .features-content {
    width: 50%;
  }

  /* Ensure that images take full width and adjust the margin */
  .features-images {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .features-images img{
    width: 100%;
  }

  /* Adjust the title and description for mobile screens */
  .features-title {
  font-family: "BodyGrotesqueLarge", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -0.0025em;
    text-align: start;
    margin-bottom: 16px;
  }

  /* MainPage.css */
  .main-description {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.25px;
    color: rgba(102, 108, 116, 1);
    margin-bottom: 30px;
    text-align: start;
  }

  /* Adjust the button layout */
  .features-buttons {
    flex-direction: row; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
  }

  .button-free,
.button-demo {
  height: 56px;
}

  /* Style for list items */
  .features-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
  }

  .feature-item {
    display: flex;
    justify-content: left;
    font-size: 16px;
    width: 100%; /* Full width for each item */
    margin-bottom: 10px; /* Space between items */
  }
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}

.features-content {
  text-align: center;
}

.features-images {
  text-align: center;
}

/* MainPage.css */
.main-description {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.25px;
  color: rgba(102, 108, 116, 1);
  text-align: start;
}

/* MainPage.css */
.features-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
}

.button-free,
.button-demo {
  flex: 1; /* Each button takes equal space in the container */
  min-width: 218px; /* Minimum width */
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 16px; /* rounded corners */
  font-family: "Inter", sans-serif; /* font family */
  font-size: 16px; /* font size */
  font-weight: 600; /* font weight */
  line-height: 1.5rem; /* line height */
  letter-spacing: -0.1px; /* letter spacing */
  text-align: center; /* text alignment */
  cursor: pointer; /* cursor shape when hovering */
  border: none; /* no border by default */
}

.button-free {
  background-color: rgba(82, 76, 189, 1); /* button background color */
  color: #ffffff; /* button text color - assuming white */
}

.button-demo {
  background-color: rgba(
    255,
    255,
    255,
    1
  ); /* button background color - white */
  color: rgba(82, 76, 189, 1); /* button text color */
  border: 2px solid rgba(82, 76, 189, 1); /* border color and size */
}

/* MainPage.css */
.features-list {
  list-style: none; /* Removes default list styling */
  padding: 0; /* Removes default padding */
}

.feature-item {
  display: flex;
  align-items: center; /* Aligns items vertically */
  gap: 8px; /* Space between icon and text */
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: rgba(15, 23, 33, 1); /* Text color */
  margin-bottom: 10px; /* Space between items */
}

.feature-item img {
  width: 24px; /* Set the width of the check icon */
  height: 24px; /* Set the height of the check icon */
}

@media (max-width: 768px) {
  /* Stack the sections vertically and adjust alignment */
  .features {
    flex-direction: column-reverse;
    align-items: center;
  }

  .features-content {
    width: 90%; /* Full width on mobile */
    text-align: center;
  }

  /* Ensure that images take full width and adjust the margin */
  .features-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0 0 0; /* add margin to the bottom */
  }

  /* Adjust the title and description for mobile screens */
  .features-title {
  font-family: "BodyGrotesqueLarge", sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.0025em;
    text-align: start;
    margin-bottom: 16px;
  }

  /* MainPage.css */
  .main-description {
    font-family: "Inter", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.25px;
    color: rgba(102, 108, 116, 1);
    margin-bottom: 30px;
    text-align: start;
  }

  /* Adjust the button layout */
  .features-buttons {
    flex-direction: column; /* Stack buttons vertically */
    align-items: center;
  }

 .button-free,
  .button-demo {
    height: 60px;
    width: 100%;
  } 

  /* Style for list items */
  .features-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
  }

  .feature-item {
    display: flex;
    justify-content: left;
    font-size: 16px;
    width: 100%; /* Full width for each item */
    margin-bottom: 10px; /* Space between items */
  }
}

/* Testimonials */

.testimonials {
  background: #ffffff;
  padding: 40px; /* Adjust the padding as needed */
}

.testimonials-title {
  font-family: "BodyGrotesque", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.0025em;
  text-align: center;
  color: rgba(15, 23, 33, 1);
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial {
  margin-bottom: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(245, 245, 245, 1);
  border-radius: 32px;
  padding: 48px;
  box-sizing: border-box;
}

.testimonial-text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.25px;
  text-align: left;
  color: rgba(15, 23, 33, 1);
  margin-top: 0;
}

.testimonial-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 16px; /* Adjust border-radius as needed */
}

.testimonial-avatar {
  width: 64px; /* Adjust size as needed */
  height: 64px; /* Adjust size as needed */
  border-radius: 50%;
  margin-right: 16px; /* Adjust space between avatar and text as needed */
}

.testimonial-text-block {
  display: flex;
  flex-direction: column;
}

.testimonial-author {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(15, 23, 33, 1);
  margin-bottom: 2px; /* Adjust space between author and role as needed */
}

.testimonial-role {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(102, 108, 116, 1); /* Lighter text color */
}

@media (min-width: 768px) {
  .testimonials-title {
    height: 48px;
    margin-bottom: 70px;
  }
  .testimonials-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .testimonial {
    width: calc(50% - 24px);
    padding: 24px;
  }
}

@media (min-width: 1024px) {
  .testimonial {
    width: calc(33.333% - 24px);
    height: 250px;
  }
}

@media (max-width: 768px) {
  .testimonials-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .testimonial {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 24px;
    box-sizing: border-box;
  }

  .access-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Service */
.service-section {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  justify-content: center;
  align-items: flex-start; /* Changed to flex-start for better control when wrapping */
  margin: 60px 0; /* Adjust as needed */
  height: auto; /* Changed to auto to accommodate varying content heights */
}

.service {
  background-color: rgba(245, 245, 245, 1); /* White background */
  border-radius: 32px; /* Rounded corners on the top-left and bottom-left */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  width: 100%; /* Full width on small screens */
  max-width: 700px; /* Maximum width to control size on larger screens */
  height: auto;
  padding: 16px;
  padding-bottom: 32px;
  margin: 12px; /* Space between services */
}

.service-image {
  width: 100%; /* Full width of the parent container */
  height: auto; /* Maintain aspect ratio */
}

.service-content {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  padding: 0 6.25%; /* Padding instead of margin for better control */
  width: auto;
  height: auto;
}

* {
  box-sizing: border-box;
}

.service-title {
  font-family: "BodyGrotesque", sans-serif; /* Assuming you have this font available */
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.0025em;
  text-align: left;
  color: rgba(15, 23, 33, 1);
  font-weight: bold;
  margin-bottom: 8px; /* Space below the title */
}

.service-title-text {
  font-family: "Inter", sans-serif; /* Ensure the 'Inter' font is loaded in your project */
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.25px;
  text-align: left;
  color: rgba(102, 108, 116, 1); /* This sets the text color */
}

.service-list {
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin-bottom: 16px; /* Space below the list */
}

.service-list li {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: rgba(15, 23, 33, 1); /* Text color */
  margin-bottom: 10px; /* Space between items */
}

.service-icon {
  margin-right: 8px; /* Space after the icon */
}

.service-button-in,
.service-button-out {
  padding: 16px 32px;
  width: 87.5%;
  height: 56px;
  font-family: "Inter", sans-serif;
  font-size: 1rem; /* Using rem for scalable text */
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.1px;
  text-align: center;
  cursor: pointer;
  display: flex; /* For inline layout with flexibility */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  border: none;
  transition: background-color 0.3s ease;
  gap: 10px;
  border-radius: 16px;
  margin-right: 12px;
}

.service-button-in {
  background-color: rgba(82, 76, 189, 1);
  color: #ffffff;
}

.service-button-out {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(82, 76, 189, 1);
  border: 2px solid rgba(82, 76, 189, 1);
}

.button-image-out {
  margin-left: 8px; /* Space between text and image */
  width: 1rem; /* Use rem for scalable image size */
  height: 1rem; /* Use rem for scalable image size */
}

@media (min-width: 768px) {
  .service {
    width: 100%; /* Set width for larger screens */
    margin-right: 24px; /* Only add right margin for spacing between items */
  }

  .button-image-out {
    width: 1rem; /* Keep original size on larger screens */
    height: 1rem;
  }
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 767px) {
  .service-section {
    flex-direction: column; /* Stack services vertically on small screens */
    align-items: center; /* Center items for single column layout */
  }

  .service {
    width: auto; /* Full width on small screens */
    margin-right: 0; /* Remove right margin since items will stack */
  }

  .service-button-in,
  .service-button-out {
    font-size: 0.9rem;
    padding: 0.8rem 1.2rem;
    margin: 8px 0; /* Reduce margin for a tighter layout */
  }

  .button-image-out {
    width: 0.8rem; /* Adjust image size on small screens */
    height: 0.8rem;
  }
}

/* Adjust the flex container if the buttons are next to each other */
.buttons-container {
  display: flex;
  justify-content: start; /* or space-between, depending on layout */
  align-items: center;
  gap: 4px; /* space between buttons */
}

/* Specific styles for buttons */
.service .service-button:first-child {
  background-color: #524cbd; /* Color for 'Start for Free' button */
  color: white;
}

.service .service-button:last-child {
  background-color: #fff; /* Color for 'Learn More' button */
  color: #524cbd;
  border: 2px solid #524cbd; /* Border color */
}

/* Add responsiveness if necessary */
@media (max-width: 768px) {
  .service-section {
    flex-direction: column;
  }

  .service {
    width: 100%; /* Full width on small screens */
    margin-bottom: 16px; /* Space between services when stacked */
  }
}

/* ACCESS */

/* ACCESS */

.access-section {
  display: flex;
  align-items: center; /* Centers items vertically */
  justify-content: center; /* Centers items horizontally */
  text-align: center; /* Centers text */
}

.access-title {
  position: relative;
  font-family: "BodyGrotesque", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.0025em;
  text-align: left;
  color: rgba(15, 23, 33, 1);
  width: 65%;
}

.access-title .highlight {
  position: relative;
  font-family: "BodyGrotesque", sans-serif; /* If 'бесплатно' should have the same font */
  font-size: 40px; /* Assuming 'бесплатно' should be the same size as the rest of the title */
  font-weight: 700; /* Assuming 'бесплатно' should have the same weight as the rest of the title */
  line-height: 48px; /* Assuming 'бесплатно' should have the same line-height as the rest of the title */
  letter-spacing: -0.0025em; /* Assuming 'бесплатно' should have the same letter spacing */
  color: rgba(250, 166, 19, 1); /* Replace with the actual color if different */
  text-align: left;
  text-decoration: none;
}

.ellipse-behind {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Start at the horizontal center of the .highlight span */
  transform: translate(
    -50%,
    -50%
  ); /* Adjust the positioning to truly center based on the element's size */
  z-index: -1; /* Places the ellipse behind the text */
  width: 250px;
  height: auto;
}

/* Adjust the size of the ellipse on smaller screens */
@media (max-width: 768px) {
  .ellipse-behind {
    width: 120%; /* Smaller size for smaller screens */
  }
}

/* Further adjust for very small screens */
@media (max-width: 480px) {
  .ellipse-behind {
    width: 200px; /* Even smaller size for mobile screens */
  }
}

.access-description {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.25px;
  text-align: left;
  color: rgba(102, 108, 116, 1); /* Light gray color */
}



.access-button {
  font-family: "Inter", sans-serif;
  padding: 16px 51px; 
  font-size: 16px; /* Adjust font-size as needed */
  font-weight: 500; /* Font weight for better readability */
  border-radius: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
}

.access-button-solid {
  background-color: rgba(82, 76, 189, 1);
  color: white;
  border: 2px solid rgba(82, 76, 189, 1); /* For consistent sizing with outlined button */
}

.access-button-outlined {
  background-color: transparent;
  color: rgba(82, 76, 189, 1);
  border-color: rgba(82, 76, 189, 1);
}

.access-button:hover {
  opacity: 0.8;
}


.access-visual img.star {
  top: 2%; /* Position from the top of the .access-visual container */
  transform: translate(-80%, -50%); /* Adjust the translation if necessary */
  width: 40px; /* Example size, adjust using percentages for responsiveness if needed */
  height: 40px; /* Keep the height same as width for a square aspect ratio */
  z-index: 10; /* Ensures the star is above other elements */
}

@media (min-width: 1200px) {
  .access-section {
    display: flex;
    justify-content: center;
    flex-direction: row; /* Текст будет над изображением */
    margin-left: 40px;
    margin-right: 40px;
    gap: 10%;
  }

  .access-content{
    width: 50%;
  }

.access-title,
  .access-title .highlight {
    
    font-size: 32px; /* Smaller font size on mobile devices */
    line-height: 40px; /* Adjust line-height accordingly */
  }

  .access-description {
    font-size: 16px; /* Smaller font size on mobile devices */
    line-height: 22px; /* Adjust line-height accordingly */
  }
  .access-title,
  .access-title .highlight,
  .access-description {
    width: 100%; /* Полная ширина контейнера */
    text-align: center; /* Центрирование текста */
  }

  .access-content,
  .access-visual {
    text-align: center;
  }

 

  .access-visual img{
    width: 100%; 
  }

  .access-visual img.star {
    width: 30px;
    height: auto;
    top: -20px; /* Смещаем звезду чуть выше изображения телефона */
    right: -8%; /* Центрируем звезду относительно ширины экрана */
    transform: translate(
      -50%,
      0
    ); /* Смещение для точного центрирования звезды */
  }

  /* Уменьшаем размер и интервал кнопок для мобильных устройств */
  .access-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row; /* Располагаем кнопки вертикально */
    align-items: center; /* Выравниваем кнопки по центру по горизонтали */
    gap: 15px;
    margin-top: 30px;
  }

  .access-button {
    width: 280px; /* Расширяем кнопки на всю ширину доступного пространства */
    box-sizing: border-box; /* Учитываем padding и border в общей ширине */
  }
}



@media (min-width: 768px) and (max-width: 1200px) {
  .access-section {
    flex-direction: column-reverse; /* Текст будет над изображением */
    text-align: center; /* Центрирование текста */
    margin-left: 20px;
    margin-right: 20px;
  }

  .access-content{
    width: 60%;
  }

.access-title,
  .access-title .highlight {
    font-size: 32px; /* Smaller font size on mobile devices */
    line-height: 40px; /* Adjust line-height accordingly */
  }

  .access-description {
    font-size: 16px; /* Smaller font size on mobile devices */
    line-height: 22px; /* Adjust line-height accordingly */
  }
  .access-title,
  .access-title .highlight,
  .access-description {
    width: 100%; /* Полная ширина контейнера */
    text-align: center; /* Центрирование текста */
  }

  .access-content,
  .access-visual {
    text-align: center;
  }

  .access-visual img{
    width: 100%; 
  }

  .access-visual img.star {
    width: 30px;
    height: auto;
    top: -20px; /* Смещаем звезду чуть выше изображения телефона */
    right: -8%; /* Центрируем звезду относительно ширины экрана */
    transform: translate(
      -50%,
      0
    ); /* Смещение для точного центрирования звезды */
  }

  /* Уменьшаем размер и интервал кнопок для мобильных устройств */
  .access-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Располагаем кнопки вертикально */
    align-items: center; /* Выравниваем кнопки по центру по горизонтали */
    gap: 15px; /* Расстояние между кнопками */
    width: 60%; /* Заставляем контейнер занимать всю ширину родителя */
    margin-top: 30px;
    margin-left: 90px;
  }

  .access-button {
    width: 100%; /* Расширяем кнопки на всю ширину доступного пространства */
    box-sizing: border-box; /* Учитываем padding и border в общей ширине */
  }
}

@media (max-width: 768px) {
  .access-section {
    flex-direction: column-reverse; /* Текст будет над изображением */
    text-align: center; /* Центрирование текста */
    margin-left: 20px;
    margin-right: 20px;
  }

  .access-content{
    width: 60%;
  }

.access-title,
  .access-title .highlight {
    font-size: 32px; /* Smaller font size on mobile devices */
    line-height: 40px; /* Adjust line-height accordingly */
  }

  .access-description {
    font-size: 16px; /* Smaller font size on mobile devices */
    line-height: 22px; /* Adjust line-height accordingly */
  }
  .access-title,
  .access-title .highlight,
  .access-description {
    width: 100%; /* Полная ширина контейнера */
    text-align: center; /* Центрирование текста */
  }

  .access-content,
  .access-visual {
    text-align: center;
  }

  .access-visual img{
    width: 100%; 
  }

  .access-visual img.star {
    width: 30px;
    height: auto;
    top: -20px; /* Смещаем звезду чуть выше изображения телефона */
    right: -8%; /* Центрируем звезду относительно ширины экрана */
    transform: translate(
      -50%,
      0
    ); /* Смещение для точного центрирования звезды */
  }

  /* Уменьшаем размер и интервал кнопок для мобильных устройств */
  .access-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Располагаем кнопки вертикально */
    align-items: center; /* Выравниваем кнопки по центру по горизонтали */
    gap: 15px; /* Расстояние между кнопками */
    width: 60%; /* Заставляем контейнер занимать всю ширину родителя */
    margin-top: 30px;
    margin-left: 90px;
  }

  .access-button {
    width: 100%; /* Расширяем кнопки на всю ширину доступного пространства */
    box-sizing: border-box; /* Учитываем padding и border в общей ширине */
  }
}

/* FAQ */

.faq {
  background: #ffffff; /* or any other color */
  padding: 20px;
  border-radius: 10px; /* Adjust as needed */
}

.faq-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  font-family: "BodyGrotesque", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.0025em;
  color: rgba(15, 23, 33, 1); /* Assuming you want to set text color */
}

.faq-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically, if there's extra space */
  margin: 0 auto; /* Center the container within its parent */
  padding: 24px; /* Padding around the entire container */
  width: 63%;
}

.faq-item {
  width: 100%;
  padding: 25px;
  margin: 10px; /* Set margin around the item */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05); /* Adjust the box shadow as per design */
  border-radius: 8px; /* Rounded corners */
  background-color: rgba(245, 245, 245, 1); /* White background */
  box-sizing: border-box;
  color: rgba(15, 23, 33, 1);
}

.faq-question {
  font-family: "Inter", sans-serif;
  font-size: 18px; /* Set the font size */
  font-weight: 600; /* Bold font weight as specified */
  line-height: 24px; /* Line height for readability */
  letter-spacing: -0.25px; /* Adjust letter spacing as needed */
  text-align: left; /* Align text to the left */
  color: rgba(15, 23, 33, 1); /* Dark text color for better readability */
  display: flex; /* Flex display to align icon and text */
  justify-content: space-between; /* Space out the question and the icon */
  align-items: center; /* Vertically align items in the middle */
  cursor: pointer; /* Change cursor to pointer to indicate clickable area */
}

.faq-icon {
  width: 24px;
  height: 24px;
}

.faq-answer {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.25px;
  text-align: left;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out,
    box-shadow 0.3s ease-out;
}

.faq-answer.show {
  max-height: 1000px; /* Maximum height when expanded */
  overflow: visible;
  padding-top: 24px;
  color: rgba(102, 108, 116, 1);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.25px;
  text-align: left;
}

/* Content styles */
.faq-answer-content {
  color: rgba(102, 108, 116, 1); /* The color for the answer text */
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.25px;
  text-align: left;
}

/* MainPage.css */

.qr-section {
  position: fixed; /* Keep the QR code fixed on the screen */
  bottom: 30px; /* Position from the bottom */
  left: 24px; /* Position from the left */
  padding: 24px; /* Padding inside the container */
  display: flex;
  align-items: center; /* Center content horizontally */
}

.qr-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center;
  width: 15%; /* Width as a percentage of the screen width */
  min-width: 250px; /* Minimum width to ensure readability */
  height: auto; /* Height adjusted to content */
  bottom: 30px; /* Position from the bottom */
  left: 24px; /* Position from the left */
  padding: 24px; /* Padding inside the container */
  background-color: rgba(
    63,
    132,
    229,
    1
  ); /* Background color as per the image */
  border-radius: 32px; /* Rounded corners as specified */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for styling */
  z-index: 10; /* High z-index to stay above other content */
  color: #ffffff; /* Text color white */
}

.close-qr {
  cursor: pointer; /* Change cursor to pointer to indicate clickable */
  background: none;
  border: none;
  font-size: 24px; /* Set font size for the close button */
  color: #ffffff; /* Set the color to white */
  position: absolute;
  right: 24px; /* Position from the right */
  top: 24px; /* Position from the top */
}

.qr-code-text {
  font-family: "BodyGrotesque", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.0025em;
  text-align: center; /* Center the text */
}

.qr-code-subtext {
  text-align: center; /* Center the text */
  margin: 8px 0; /* Spacing for aesthetic */
}

.qr-code-image {
  width: 100%; /* Full width of the container */
  height: auto; /* Height adjusted to the image aspect ratio */
  margin-top: 16px; /* Spacing above the image */
}

.qr-collapsed {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08);
  /* Добавьте стили для текста и изображения внутри */
}

.qrcode-image {
  width: 24px;
  height: 24px;
  margin-right: 12px; /* или значение gap, которое вы хотите использовать */
}

.qrcode-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: rgba(15, 23, 33, 1);
  margin: 0; /* Это уберет стандартные отступы у параграфа */
}
