/* ACCESS */

.access-section {
    display: flex;
    align-items: center; /* Centers items vertically */
    justify-content: center; /* Centers items horizontally */
    text-align: center; /* Centers text */
    margin-left: 250px;
    padding: 20px 0;
  }
  
  .access-content {
    width: 100%; /* Full width on mobile */
    max-width: 550px; /* Adjust to the max-width as needed */
    text-align: center; /* Center the text and content */
    margin-bottom: 20px;
  }
  
  .access-title {
    position: relative;
    font-family: "Body Grotesque Fit Trial", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.0025em;
    text-align: left;
    color: rgba(15, 23, 33, 1);
    width: 65%;
  }
  
  .access-title .highlight {
    position: relative;
    font-family: "Body Grotesque Fit Trial", sans-serif; /* If 'бесплатно' should have the same font */
    font-size: 40px; /* Assuming 'бесплатно' should be the same size as the rest of the title */
    font-weight: 700; /* Assuming 'бесплатно' should have the same weight as the rest of the title */
    line-height: 48px; /* Assuming 'бесплатно' should have the same line-height as the rest of the title */
    letter-spacing: -0.0025em; /* Assuming 'бесплатно' should have the same letter spacing */
    color: rgba(250, 166, 19, 1); /* Replace with the actual color if different */
    text-align: left;
  }
  
  .ellipse-behind {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Start at the horizontal center of the .highlight span */
    transform: translate(
      -50%,
      -50%
    ); /* Adjust the positioning to truly center based on the element's size */
    z-index: -1; /* Places the ellipse behind the text */
    width: 250px;
    height: auto;
  }
  
  /* Adjust the size of the ellipse on smaller screens */
  @media (max-width: 768px) {
    .ellipse-behind {
      width: 60vw; /* Smaller size for smaller screens */
    }
  }
  
  /* Further adjust for very small screens */
  @media (max-width: 480px) {
    .ellipse-behind {
      width: 200px; /* Even smaller size for mobile screens */
    }
  }
  
  .access-description {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.25px;
    text-align: left;
    color: rgba(102, 108, 116, 1); /* Light gray color */
  }
  
  /* Responsive design adjustments, if needed */
  @media (max-width: 768px) {
    .access-title,
    .access-title .highlight {
      font-size: 32px; /* Smaller font size on mobile devices */
      line-height: 40px; /* Adjust line-height accordingly */
    }
  
    .access-description {
      font-size: 16px; /* Smaller font size on mobile devices */
      line-height: 22px; /* Adjust line-height accordingly */
    }
  }
  
  /* CSS styling */
  .access-buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    margin-top: 45px;
  }
  
  .access-button {
    width: 50%;
    padding: 16px 51px; /* Adjust the padding to fit your design */
    font-size: 16px; /* Adjust font-size as needed */
    font-weight: 500; /* Font weight for better readability */
    border-radius: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    flex: none;
  }
  
  .access-button-solid {
    background-color: rgba(82, 76, 189, 1);
    color: white;
    border: 2px solid rgba(82, 76, 189, 1); /* For consistent sizing with outlined button */
  }
  
  .access-button-outlined {
    background-color: transparent;
    color: rgba(82, 76, 189, 1);
    border-color: rgba(82, 76, 189, 1);
  }
  
  .access-button:hover {
    opacity: 0.8;
  }
  
  .access-visual {
    position: relative;
    width: 40%; /* Adjust width as necessary */
  }
  
  .access-visual img.Visualphone {
    width: 80%; /* Make the phone image responsive within the container */
  }
  
  .access-visual img.star {
    position: absolute;
    top: 2%; /* Position from the top of the .access-visual container */
    transform: translate(-80%, -50%); /* Adjust the translation if necessary */
    width: 40px; /* Example size, adjust using percentages for responsiveness if needed */
    height: 40px; /* Keep the height same as width for a square aspect ratio */
    z-index: 10; /* Ensures the star is above other elements */
  }
  
  /* Example media query for smaller screens */
  @media (max-width: 768px) {
    .access-visual img.star {
      width: 10%; /* Reduce size on smaller screens */
      top: 5%; /* Adjust the top position for smaller screens */
      right: 5%; /* Adjust the right position for smaller screens */
      transform: translate(
        50%,
        -50%
      ); /* Adjust if necessary for smaller screens */
    }
  }
  