.link-section,
.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

.about-logo {
  height: 64px; /* Adjust if needed */
}

.about-text-content,
.description-section p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.25px;
}

.about-text-content {
  font-weight: 500; 
  text-align: center; 
}

.about-link {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  background-color: rgba(234, 234, 247, 1);
  border-radius: 8px;
  padding: 0px 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: center;
  width: 110px; /* Hug width */
  height: 32px; /* Fixed height */
  color: rgba(82, 76, 189, 1); /* Link text color */
  text-decoration: none;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
  margin-left: 8px;
  opacity: 1;
}

.external-link-icon {
  width: 24px;
  height: 24px;
}

/* Описание */

.description-section {
  margin: 60px 142px;
  width: 50%;
}

.description-section p {
  font-weight: 400;
  text-align: left;
  color: rgba(102, 108, 116, 1);
  margin-bottom: 8px;
}

.description-bold-text {
  font-weight: 600; /* Bold font weight */
  font-size: 18px; /* Match the font size from your requirements */
  line-height: 24px; /* Match the line height from your requirements */
  letter-spacing: -0.25px; /* Match the letter spacing from your requirements */
  text-align: left;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  cursor: pointer;
}

/* 3 часть */

.values-section {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin: 40px;
}

.value-card {
  background: rgba(245, 245, 245, 1);
  border-radius: 32px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 24px;
  width: 26%; /* Adjust width as necessary */
  text-align: start;
}

.icon-wrapper {
  border-radius: 16px;
  opacity: 0px;
}

.value-icon {
  width: 64px;
  height: 64px;
}

.value-title {
  font-family: "BodyGrotesque";
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.0025em;
  text-align: left;
  color: #333;
  margin: 0;
}

.value-description {
  color: #666;
  font-size: 16px; /* Adjust font-size as necessary */
}

/* @media (max-width: 768px) {
  .values-section {
    flex-direction: column;
    align-items: center;
  }

  .value-card {
    width: 80%; 
    margin-right: 0;
    margin-bottom: 30px; 
  }
} */

.value-description .highlighted {
  padding-bottom: 2px;
  font-weight: bold; /* Makes the text bold */
  display: block; /* Display as block to add space below */
  color: black;
}


@media (min-width: 1025px) and (max-width: 1440px) {
  .description-section {
    margin: 30px; /* Reduced margin */
    width: 70%; /* Increased width */
  }

  .value-card {
    width: 60%; /* Adjust width for tablets */
  }

  .icon-wrapper {
    margin-bottom: 32px;
  }
}

@media (max-width: 1025px) {
  .link-section,
  .about-page,
  .values-section {
    padding-top: 30px; /* Reduced padding */
  }

  .description-section {
    width: 90%; /* Make the description take more width */
    margin: 20px; /* Reduce margin */
  }

  .about-logo {
    display: none;
  }

  .about-text-content{
    flex-direction: column-reverse;
  }

  .about-text-content,
  .description-section p,
  .value-description {
    font-size: 16px; /* Smaller font size */
  }

  .values-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .value-card {
    width: 80%; /* Cards take more width on mobile */
    margin-right: 0; /* Remove the right margin */
    margin-bottom: 20px; /* Add some space between the cards */
  }

  .icon-wrapper {
    margin-bottom: 10px;
  }

  /* .value-icon{
    width: 20%;
    height: auto;
  } */

  .about-link,
  .about-content {
    width: 65%; /* Full width */
    padding: 0 20px; /* Add padding */
  }
}

@media (max-width: 480px) {
  .description-section p,
  .about-text-content,
  .value-description {
    font-size: 14px; /* Even smaller font for very small devices */
  }
}